extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Документы"

block content
	main.main
		.container
			+b.SECTION.top-banner
				+e.bg
					+e.IMG.bg-img(src="/img/temp/top-banner.jpg" alt="Документы" width="1170" height="270")

			.breadcrumbs-block
				+breadcrumbs(["О союзе"], title) 

			h1.page-title #{title}


			+b.SECTION.s-union-docs 
				.text 
					+b.A.file-link(href="file.pdf") 
						+e.I.icon
							+icon-dif("file-pdf") 
						+e.SPAN.label Состав Комиссии по техническому регулированию.pdf

					hr
				
					+b.A.file-link(href="file.pdf") 
						+e.I.icon
							+icon-dif("file-pdf") 
						+e.SPAN.label Состав Комиссии по техническому регулированию.pdf

					hr
				
					+b.A.file-link(href="file.pdf") 
						+e.I.icon
							+icon-dif("file-pdf") 
						+e.SPAN.label Состав Комиссии по техническому регулированию.pdf

					hr
				
					+b.A.file-link(href="file.pdf") 
						+e.I.icon
							+icon-dif("file-pdf") 
						+e.SPAN.label Состав Комиссии по техническому регулированию.pdf

					hr
				
					+b.A.file-link(href="file.pdf") 
						+e.I.icon
							+icon-dif("file-pdf") 
						+e.SPAN.label Состав Комиссии по техническому регулированию.pdf

					hr
				
					+b.A.file-link(href="file.pdf") 
						+e.I.icon
							+icon-dif("file-pdf") 
						+e.SPAN.label Состав Комиссии по техническому регулированию.pdf

					hr
				
					+b.A.file-link(href="file.pdf") 
						+e.I.icon
							+icon-dif("file-pdf") 
						+e.SPAN.label Состав Комиссии по техническому регулированию.pdf

					hr
				
					+b.A.file-link(href="file.pdf") 
						+e.I.icon
							+icon-dif("file-pdf") 
						+e.SPAN.label Состав Комиссии по техническому регулированию.pdf

					hr
				
					+b.A.file-link(href="file.pdf") 
						+e.I.icon
							+icon-dif("file-pdf") 
						+e.SPAN.label Состав Комиссии по техническому регулированию.pdf

					hr
				

					
				







