extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Порядок вступления"

block content
	main.main
		.container
			+b.SECTION.top-banner
				+e.bg
					+e.IMG.bg-img(src="/img/temp/top-banner.jpg" alt="Порядок вступления" width="1170" height="270")

			.breadcrumbs-block
				+breadcrumbs(["О союзе"], title) 

			+b.page-title
				h1 #{title}

			+b.SECTION.s-union-entry 

				.text
					p Прием в члены Союза «Объединение вагоностроителей» осуществляется на основании письменного Заявления, поданного на имя Президента Союза или Исполнительного директора. 
					p В Заявлении о приеме должно содержаться безусловное согласие с целями Союза, признание его Устава и согласие выполнять все обязательства членов Союза, возложенные на них Уставом. Президент Союза или Исполнительный директор направляет Заявление о приеме в Наблюдательный Совет с рекомендациями о возможности принятия указанного лица в состав Союза. 
					p По поступлении от Президента Союза или Исполнительного директора Союза Заявления о приеме, Наблюдательный Совет созывает в соответствии с требованиями Устава Общее собрание членов Союза. Решение о приеме нового Члена принимается большинством в три четверти голосов членов Союза, участвующих в Общем собрании. 
					p Кандидат считается принятым в состав Союза и наделяется всеми правами и обязанностями члена Союза с даты соответствующего решения Общего собрания. 
				
					br
					hr

					h3 Документы для вступления

					+b.A.file-link(href="file.pdf") 
						+e.I.icon
							+icon-dif("file-pdf") 
						+e.SPAN.label Справка по вступлению в Союз на 2021 год.pdf

					hr

					+b.A.file-link(href="file.doc") 
						+e.I.icon
							+icon-dif("file-doc") 
						+e.SPAN.label Заявление о приеме в состав Союза.doc

					hr

					+b.A.file-link(href="file.doc") 
						+e.I.icon
							+icon-dif("file-doc") 
						+e.SPAN.label Анкета члена Союза.doc






















