extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Меропртиятия"

block content
	main.main
		.container
			+b.SECTION.top-banner
				+e.bg
					+e.IMG.bg-img(src="/img/temp/top-banner.jpg" alt="Меропртиятия" width="1170" height="270")

			.breadcrumbs-block
				+breadcrumbs(["Пресс-центр"], title) 

			+b.page-title
				h1 #{title}

			+b.SECTION.s-news-listing

				+e.list
					+e.item
						+b.A.news-list-item(href="events-item.html")
							+e.SPAN.title Союз «Объединение вагоностроителей» отмечает 20-летний юбилей
							+e.SPAN.text.text 27 марта Союз производителей и пользователей железнодорожного подвижного состава «Объединение вагоностроителей» (Союз ОВС) отмечает свой 20-летний юбилей. На протяжении значительного срока главная цель деятельности – быть эффективным провайдером идей и стратегий предпри...

							+e.SPAN.bottom
								+e.SPAN.bottom-left
									+e.TIME.date 23 февраля 2021
								+e.SPAN.bottom-right 
									+e.SPAN.more Подробнее

					+e.item
						+b.A.news-list-item(href="events-item.html")
							+e.SPAN.title Для поддержки вагоностроителей нужно выработать комплекс мер, содержащий и монетарные, и немонетарные меры
							+e.SPAN.text.text По итогам заседания участники сошлись во мнении, что мероприятия такого рода, уже ставшие хорошей традицией, являются одним из действенных способов ведения дискуссии и нахождения общих точек соприкосновения для достижения...

							+e.SPAN.bottom
								+e.SPAN.bottom-left
									+e.TIME.date 23 февраля 2021
								+e.SPAN.bottom-right 
									+e.SPAN.more Подробнее

					+e.item
						+b.A.news-list-item(href="events-item.html")
							+e.SPAN.title В 2021 году спросом будут пользоваться специализированные и инновационные вагоны
							+e.SPAN.text.text По итогам заседания участники сошлись во мнении, что мероприятия такого рода, уже ставшие хорошей традицией, являются одним из действенных способов ведения дискуссии и нахождения общих точек соприкосновения для достижения общих результатов, выражающихся в по...

							+e.SPAN.bottom
								+e.SPAN.bottom-left
									+e.TIME.date 23 февраля 2021
								+e.SPAN.bottom-right 
									+e.SPAN.more Подробнее
									
					+e.item
						+b.A.news-list-item(href="events-item.html")
							+e.SPAN.title Союз «Объединение вагоностроителей» отмечает 20-летний юбилей
							+e.SPAN.text.text 27 марта Союз производителей и пользователей железнодорожного подвижного состава «Объединение вагоностроителей» (Союз ОВС) отмечает свой 20-летний юбилей. На протяжении значительного срока главная цель деятельности – быть эффективным провайдером идей и стратегий предпри...

							+e.SPAN.bottom
								+e.SPAN.bottom-left
									+e.TIME.date 23 февраля 2021
								+e.SPAN.bottom-right 
									+e.SPAN.more Подробнее

					+e.item
						+b.A.news-list-item(href="events-item.html")
							+e.SPAN.title Для поддержки вагоностроителей нужно выработать комплекс мер, содержащий и монетарные, и немонетарные меры
							+e.SPAN.text.text По итогам заседания участники сошлись во мнении, что мероприятия такого рода, уже ставшие хорошей традицией, являются одним из действенных способов ведения дискуссии и нахождения общих точек соприкосновения для достижения...

							+e.SPAN.bottom
								+e.SPAN.bottom-left
									+e.TIME.date 23 февраля 2021
								+e.SPAN.bottom-right 
									+e.SPAN.more Подробнее

					+e.item
						+b.A.news-list-item(href="events-item.html")
							+e.SPAN.title В 2021 году спросом будут пользоваться специализированные и инновационные вагоны
							+e.SPAN.text.text По итогам заседания участники сошлись во мнении, что мероприятия такого рода, уже ставшие хорошей традицией, являются одним из действенных способов ведения дискуссии и нахождения общих точек соприкосновения для достижения общих результатов, выражающихся в по...

							+e.SPAN.bottom
								+e.SPAN.bottom-left
									+e.TIME.date 23 февраля 2021
								+e.SPAN.bottom-right 
									+e.SPAN.more Подробнее
									
					+e.item
						+b.A.news-list-item(href="events-item.html")
							+e.SPAN.title Союз «Объединение вагоностроителей» отмечает 20-летний юбилей
							+e.SPAN.text.text 27 марта Союз производителей и пользователей железнодорожного подвижного состава «Объединение вагоностроителей» (Союз ОВС) отмечает свой 20-летний юбилей. На протяжении значительного срока главная цель деятельности – быть эффективным провайдером идей и стратегий предпри...

							+e.SPAN.bottom
								+e.SPAN.bottom-left
									+e.TIME.date 23 февраля 2021
								+e.SPAN.bottom-right 
									+e.SPAN.more Подробнее

					+e.item
						+b.A.news-list-item(href="events-item.html")
							+e.SPAN.title Для поддержки вагоностроителей нужно выработать комплекс мер, содержащий и монетарные, и немонетарные меры
							+e.SPAN.text.text По итогам заседания участники сошлись во мнении, что мероприятия такого рода, уже ставшие хорошей традицией, являются одним из действенных способов ведения дискуссии и нахождения общих точек соприкосновения для достижения...

							+e.SPAN.bottom
								+e.SPAN.bottom-left
									+e.TIME.date 23 февраля 2021
								+e.SPAN.bottom-right 
									+e.SPAN.more Подробнее

					+e.item
						+b.A.news-list-item(href="events-item.html")
							+e.SPAN.title В 2021 году спросом будут пользоваться специализированные и инновационные вагоны
							+e.SPAN.text.text По итогам заседания участники сошлись во мнении, что мероприятия такого рода, уже ставшие хорошей традицией, являются одним из действенных способов ведения дискуссии и нахождения общих точек соприкосновения для достижения общих результатов, выражающихся в по...

							+e.SPAN.bottom
								+e.SPAN.bottom-left
									+e.TIME.date 23 февраля 2021
								+e.SPAN.bottom-right 
									+e.SPAN.more Подробнее

				+e.pagination 
					+pagination
				



















