extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Страница одного Меропртиятия"

block content
	main.main.main--no-pd
		+b.p-news-item
			.container
				+e.main
					.breadcrumbs-block
						+breadcrumbs(["Пресс-центр", "Мероприятия"], title)

					+b.page-title.--news-item
						h1 В 2021 году спросом будут пользоваться специализированные и инновационные вагоны

					+e.article-inf
						+e.SPAN.article-inf-date 24 сентября / 10:00
						+e.SPAN.article-inf-source 
							| г. Санкт-Петербург, Crowne Plaza St.Petersburg Airport

					+e.article-body.text
						p
							i Падение реализации грузовых вагонов в 2020 году к показателям 2019 года по всей номенклатуре продукции достигло 28% (56,6 тыс. вагонов и 78,4 тыс. вагонов соответственно). О том, как себя при этом чувствовали производители специализированного подвижного состава и на какие вагоны ожидается спрос в 2021 году ответил Исполнительный директор Союза «Объединение вагоностроителей» Евгений Семенов.
						
						hr

						p Евгений Юрьевич, давайте для начала определим, на какие виды подвижного состава в принципе был спрос в 2020 году. При общем снижении производства грузовых вагонов удалось ли отдельным сегментам нарастить производство?
						p В условиях кризиса, охватившего мировые рынки в связи с эпидемией коронавируса, произошло падение объемов перевозок грузов как во внутреннем, так и в международном сообщении. С учетом существующего на данный момент профицита парка грузовых вагонов такие тенденции не могли не отразиться и на вагоностроительной отрасли.
						p Наибольший спад зафиксирован в сегментах хопперов-минераловозов (-95%), хопперов-цементовозов (-67%), цистерн для сжиженных углеводородных газов (-54%) и полувагонов (-41%). При этом положительную динамику продемонстрировали сегменты нефтебензиновых цистерн, производство которых выросло в 8 раз, крытых вагонов (+59%), цистерн для химических продуктов (+20%), специализированных хопперов-дозаторов и окатышевозов (+39%). Также был отмечен рост которые в довольно короткие сроки разработали предложения по антикризисным мерам поддержки экспорта продукции отечественного производства, предусматривающие в том числе льготные кредиты и упрощение доступа к программам повышения конкурентоспособности.

						hr

						h3 Материалы
						+b.A.file-link(href="file.pdf") 
							+e.I.icon
								+icon-dif("file-pdf") 
							+e.SPAN.label Состав Комиссии по техническому регулированию.pdf

						hr
						
						+b.A.file-link(href="file.pdf") 
							+e.I.icon
								+icon-dif("file-pdf") 
							+e.SPAN.label Состав Комиссии по техническому регулированию.pdf

						hr

						+b.A.file-link(href="file.pdf") 
							+e.I.icon
								+icon-dif("file-pdf") 
							+e.SPAN.label Состав Комиссии по техническому регулированию.pdf


						  

			+e.others
				+b.SECTION.s-other-news
					.container
						+e.top
							+e.H2.title Другие мероприятия


						+e.list
							+e.item
								+b.A.news-list-item(href="news-item.html")
									+e.SPAN.title Союз «Объединение вагоностроителей» отмечает 20-летний юбилей
									+e.SPAN.text.text 27 марта Союз производителей и пользователей железнодорожного подвижного состава «Объединение вагоностроителей» (Союз ОВС) отмечает свой 20-летний юбилей. На протяжении значительного срока главная цель деятельности – быть эффективным провайдером идей и стратегий предпри...

									+e.SPAN.bottom
										+e.SPAN.bottom-left
											+e.TIME.date 23 февраля 2021
										+e.SPAN.bottom-right 
											+e.SPAN.more Подробнее

							+e.item
								+b.A.news-list-item(href="news-item.html")
									+e.SPAN.title Для поддержки вагоностроителей нужно выработать комплекс мер, содержащий и монетарные, и немонетарные меры
									+e.SPAN.text.text По итогам заседания участники сошлись во мнении, что мероприятия такого рода, уже ставшие хорошей традицией, являются одним из действенных способов ведения дискуссии и нахождения общих точек соприкосновения для достижения...

									+e.SPAN.bottom
										+e.SPAN.bottom-left
											+e.TIME.date 23 февраля 2021
										+e.SPAN.bottom-right 
											+e.SPAN.more Подробнее

							+e.item
								+b.A.news-list-item(href="news-item.html")
									+e.SPAN.title В 2021 году спросом будут пользоваться специализированные и инновационные вагоны
									+e.SPAN.text.text По итогам заседания участники сошлись во мнении, что мероприятия такого рода, уже ставшие хорошей традицией, являются одним из действенных способов ведения дискуссии и нахождения общих точек соприкосновения для достижения общих результатов, выражающихся в по...

									+e.SPAN.bottom
										+e.SPAN.bottom-left
											+e.TIME.date 23 февраля 2021
										+e.SPAN.bottom-right 
											+e.SPAN.more Подробнее
			









