extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Цели и задачи"

block content
	main.main
		.container
			+b.SECTION.top-banner
				+e.bg
					+e.IMG.bg-img(src="/img/temp/top-banner.jpg" alt="Цели и задачи" width="1170" height="270")

			.breadcrumbs-block
				+breadcrumbs([], title) 

			h1.page-title #{title}


			+b.SECTION.s-union-goals
				+e.text.--first.text
					+e.H2.sec-title Цель
					+e.P.sec-text Защита прав и законных интересов отечественных производителей железнодорожного грузового подвижного состава, содействие своим членам в осуществлении своей деятельности, а также выработка общих принципов цивилизованных отношений на рынке, принципов взаимодействия участников рынка с государственными и муниципальными органами власти.

				+e.HR.hr.--first

				+e.text.--second.text
					+e.H2.sec-title Задачи
					+e.P.sec-text Союз «Объединение вагоностроителей» осуществляет свою деятельность в соответствии с законодательством Российской Федерации и Уставом Союза и решает следующие основные задачи: 

				+e.tasks
					+e.OL.tasks-list
						li Разрабатывает правила и механизмы взаимодействия, направленные на становление цивилизованного рынка железнодорожного подвижного состава в Российской Федерации путем объединения лиц, деятельность которых связана с производством железнодорожного подвижного состава и его комплектующих, производством запасных частей, ремонтом подвижного состава
						li Взаимодействует с государственными и муниципальными органами власти, общественными объединениями, иными организациями, юридическими и физическими лицами
						li Обеспечивает взаимодействие членов Союза с другими производителями и пользователями железнодорожного подвижного состава, иными участниками рынка, государственными и муниципальными органами власти, органами самоуправления и общественностью
						li Участвует в разработке нормативно-методических основ регулирования рынка железнодорожного подвижного состава в России
						li Участвует в выработке мер, направленных на повышение качества продукции членов Союза
						li Изучает рынок железнодорожного подвижного состава, проводит экономический анализ и прогнозирование рынка
						li Организует сбор информации о состоянии рынка железнодорожного подвижного состава в России и за рубежом для предоставления указанной информации членам Союза и др.

				+e.HR.hr.--second

				+e.text.--third.text
					+e.H2.sec-title Состав Союза
					+e.P.sec-text В настоящее время в состав Союза входит 35 организаций, среди которых:

				+e.organizations
					+b.union-organizations
						+e.col
							+e.item
								+e.item-num 6
								+e.item-text.text 
									| предприятий
									br
									| вагоностроительного
									br
									| комплекса

						+e.col
							+e.item
								+e.item-num 25
								+e.item-text.text предприятий-производителей комплектующих и запасных частей к грузовым вагонам

						+e.col
							+e.item
								+e.item-num 6
								+e.item-text.text 
									| организации
									br
									| научно-исследовательского комплекса

				+e.HR.hr.--third

				+e.text.--fourth.text
					+e.H2.sec-title Взаимодействие с объединениями
					+e.P.sec-text Союз «Объединение вагоностроителей» с целью реализации уставных целей и задач является членом следующих организаций: 

				+e.members
					+b.union-members
						+e.col
							+e.item 
								+e.SPAN.picture
									+e.IMG.picture-img(src="/img/temp/union-members-item-1.png")
								+e.SPAN.text.text Торгово-промышленная палата Российской Федерации

						+e.col
							+e.item 
								+e.SPAN.picture
									+e.IMG.picture-img(src="/img/temp/union-members-item-2.png")
								+e.SPAN.text.text Российский союз промышленников и предпринимателей

						+e.col
							+e.item 
								+e.SPAN.picture
									+e.IMG.picture-img(src="/img/temp/union-members-item-3.png")
								+e.SPAN.text.text Союз операторов железнодорожного транспорта

						+e.col
							+e.item 
								+e.SPAN.picture
									+e.IMG.picture-img(src="/img/temp/union-members-item-4.png")
								+e.SPAN.text.text СРО Союз Участников Железнодорожного Рынка

							

			







							