extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Секретариат"

block content
	main.main
		.container
			+b.SECTION.top-banner
				+e.bg
					+e.IMG.bg-img(src="/img/temp/top-banner.jpg" alt="Секретариат" width="1170" height="270")

			.breadcrumbs-block
				+breadcrumbs(["ПК-7 «Грузовые вагоны»"], title) 

			h1.page-title #{title}


			.text 
				p
					b Ответственный секретарь:
					br
					| Абрамов Денис Евгеньевич

				p
					b Телефон:
					br
					a.link-resset.link--theme-black(href="+78126555910") +7 812 655-59-10 
					span(style="color: #707070") доб. 1149

				p
					b Факс:
					br
					a.link-resset.link--theme-black(href="+78126021049") +7 812 602-10-49 

				p
					b Адрес электронной почты:
					br
					a.link-resset.link--theme-orange(href="mailto:pk7@tt-center.ru ") pk7@tt-center.ru 





