+b.FOOTER.footer
    .container
        +e.main
            +e.main-row
                +e.main-col-menu
                    +b.menu
                        +e.col
                            +e.title
                                +e.A.title-link(href='#') 
                                    | О Союзе
                            +e.UL.list
                                +e.li.item
                                    +e.A.link(href='#') Цели и задачи
                                +e.li.item
                                    +e.A.link(href='#') Структура
                                +e.li.item
                                    +e.A.link(href='#') Руководство
                                +e.li.item
                                    +e.A.link(href='#') Документы
                                +e.li.item
                                    +e.A.link(href='#') Участники
                                +e.li.item
                                    +e.A.link(href='#') Порядок вступления 

                        +e.col
                            +e.title
                                +e.A.title-link(href='#') 
                                    | Комиссии
                            +e.UL.list
                                +e.li.item
                                    +e.A.link(href='#') Комиссия по техническому регулированию
                                +e.li.item
                                    +e.A.link(href='#') Комиссия по грузовому вагоностроению
                                +e.li.item
                                    +e.A.link(href='#') Комиссия по поглощающим аппаратам
                                +e.li.item
                                    +e.A.link(href='#') Научно-технический совет
                        
                        +e.col
                            +e.title
                                +e.A.title-link(href='#') 
                                    | ПК-7 «Грузовые вагоны»
                            +e.UL.list
                                +e.li.item
                                    +e.A.link(href='#') Деятельность
                                +e.li.item
                                    +e.A.link(href='#') Руководство
                                +e.li.item
                                    +e.A.link(href='#') Члены Подкомитета
                                +e.li.item
                                    +e.A.link(href='#') Секретариат
                                +e.li.item
                                    +e.A.link(href='#') Личный кабинет
                        
                        +e.col
                            +e.title
                                +e.A.title-link(href='#') 
                                    | Аналитика
                        
                            +e.title
                                +e.A.title-link(href='#') 
                                    | Пресс-центр
                            +e.UL.list
                                +e.li.item
                                    +e.A.link(href='#') Новости
                                +e.li.item
                                    +e.A.link(href='#') Мероприятия

                +e.main-col-inf
                    +b.footer-inf
                        +e.title
                            +e.A.title-link(href='#') 
                                | Аналитика
                        
                        +e.phones
                            +e.phones-item
                                +e.A.phones-link(href="tel:+74996438220") +7 (499) 643-82-20

                            +e.phones-item
                                +e.A.phones-link(href="tel:+74996438220") +7 (499) 643-82-20
            
                        +e.P.address 
                            | Россия, 107217, г. Москва,
                            br
                            | ул. Садовая-Спасская, д.21/1,
                            br
                            | 3 этаж, офис 307
                        
                        +e.email
                            +e.A.email-link(href="mailto:info@souzovs.com") info@souzovs.com
        
        +e.bottom
            +e.P.copy &copy; 2021. Союз производителей и пользователей железнодорожного подвижного состава «Объединение вагоностроителей»