extends layouts/default
include helpers/mixins

block variables
	- const title = "Sitemap"

block content
	.container
		ul.ui-sitemap
			//- li
			//- 	a(href="404.html") 404
			li
				a(href="main-page.html") Главная
			li
				a(href="goals.html") Цели и задачи 
			//- li
			//- 	a(href="structure.html") Структура
			li
				a(href="managments.html") Руководство
			li
				a(href="documnets.html") Документы 
			li
				a(href="participants.html") Участники
			li
				a(href="entry-procedure.html") Порядок вступления 
			br

			li
				a(href="news.html") Новости
			li
				a(href="news-item.html") Страница одной новости
			li
				a(href="events.html") Меропртиятия 
			li
				a(href="events-item.html") Страница одного Меропртиятия 
			br

			//- li
			//- 	a(href="commission.html") Комиссия по техническому регулированию, стандартизации и сертификации
			//- li
			//- 	a(href="commission-2.html") Комиссия по грузовому вагоностроению
			//- li
			//- 	a(href="commission-3.html") Комиссия по поглощающим аппаратам
			//- li
			//- 	a(href="commission-4.html") Научно-технический совет
			//- br

			//- li
			//- 	a(href="analytics.html") Аналитика
			//- br

			//- li
			//- 	a(href="activity.html") Деятельность
			//- li
			//- 	a(href="managments-2.html") Руководство 
			//- li
			//- 	a(href="participants-2.html") Члены Подкомитета 
			//- li
			//- 	a(href="secretariat.html") Секретариат
			//- br

			//- li
			//- 	a(href="contacts.html") Контакты
			//- li
			//- 	a(href="ui.html") UI элементы
		


   

