$rem: 20;
$ffPTSans: 'PT Sans', sans-serif;

$colorGray: #E6E6E6;
$colorGray2: #707070;
$colorGray3: #EDEDED;
$colorOrange: #E66D17;

$color1: #272424;
$color2: #AB103A;
$color3: #BEBDBD;
$color4: #DCDCDC;
$color5: #ccc;

$breakpoints: (
  'xl': 1200px,
  'lg': 992px,
  'md': 768px,
  'sm': 576px,
  'xs': 320px
);