$rem: 20;
$ffPTSans: 'PT Sans', sans-serif;

$colorBlack: #333333;
$colorBlack2: #1F1F1F;
$colorGray: #E6E6E6;
$colorGray2: #707070;
$colorGray3: #EDEDED;
$colorGray4: #cccccc;
$colorGray5: #9A9A9A;
$colorOrange: #E66D17;

$colorRed: #AB103A;

// $color1: #272424;
// $color2: #AB103A;
// $color3: #BEBDBD;
// $color4: #DCDCDC;
// $color5: #ccc;

$breakpoints: (
  'xl': 1200px,
  'lg': 992px,
  'md': 768px,
  'sm': 576px,
  'xs': 320px
);