@import '_libs';
@import '_fonts';
@import '_varaibles';
@import '_mixins';
@import '_sprite';
@import '_ui';

@include sprites($spritesheet-sprites); //if icons empty will throw error


body {
  min-width: 320px;
  font-family: $ffPTSans;
  font-size: 20px;
  line-height: 1.15;
  color: #333333;
  background: #fff;
}


/* Back top */
.back-to-top {
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: $color1;
  overflow: hidden;
  text-indent: -99999px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  @include rule(bottom, (xs: 0, xl: 50px));
  @include rule(right, (xs: 0%, xl: 3%));
  cursor: pointer;
 
  transition: 0.2s;

  &.show:hover,
  &.show:active {
    opacity: 1;
  }
  &.show {
    visibility: visible;
    opacity: 0.5;
    pointer-events: visible;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -4px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    background: none;
    transform: rotate(45deg);
  }
}

/* End Back top */



.breadcrumbs-block {
  @include rule(margin, (xs: 0 0 25px, lg: 0 0 35px));
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  @include rule(flex-wrap, (xs: nowrap, lg: wrap));
  @include rule(overflow-x, (xs: auto, lg: hidden));;
  align-items: center;
  font-family: $ffPTSans;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: inherit;
  
  &__item {
      display: inline-flex;
      align-items: center;
      font-weight: 400;
      white-space: nowrap;
      text-decoration: none;
      word-wrap: break-word;
      overflow-wrap: break-word;
  }

  &__link {
      text-decoration: none;
      color: inherit;
      transition: color 0.2s;

      @include hover {
          color: $color1;
      }
  }

  &__sep {
      display: inline-block;
      vertical-align: middle;
      margin: 0 8px;
      text-decoration: none;
      font-weight: 300;
      font-style: normal;
  }
}

.container {
  @include screen(xl) {
    max-width: 1200px;   
  }
}





.banner {
  position: relative;
  overflow: hidden;
  min-height: 360px;
  margin: 0 0 40px;

  &__content {
    position: relative;
    z-index: 1;
    padding: 30px 0 35px;
  }

  &__title {
    display: block;
    margin: 0 0 55px;
    font-weight: 700;
    font-size: 54px;
    line-height: cacl(64/45);

    max-width: 10em;
  }

  &__inf {
    display: flex;
    

    &-col {
      padding: 0 30px 0 25px;

      &:not(:first-child) {
        padding-left: 25px;
      }
      &:not(:last-child) {
        padding-right: 30px;
        border-right: 1px solid $colorGray;
      }
    }

    &-main {
      display: block;
      // margin: 0 0 10px;
      font-weight: 700;
      font-size: 54px;
      line-height: cacl(64/45);
      color: $colorOrange;
    }
    &-label {
      display: block;
      margin: 0;
      font-size: 14px;
      line-height: cacl(18/14);
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &-img {
      @include fill-img;
    }
  }
}

.news-list-item {
  $b: &;

  @extend .link-resset;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px 40px 20px 30px;
  border: 1px solid $colorGray;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.18);
  }


  
  &__title {
    display: block;
    margin: 0 0 10px;
    font-size: 22px;
    line-height: calc(28/22);
    font-weight: 700;
  }
  &__text {
    display: block;
    margin: 0 0 30px;
    font-size: 16px;
    line-height: calc(24/16);
    font-weight: 400;
    color: $colorGray2;
    transition: color 0.2s;

    #{$b}:hover & {
      color: $colorOrange;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
  
  &__date {
    font-size: 16px;
    line-height: calc(20/16);
    font-weight: 400;
    color: $colorGray2;
  }
  &__more {
    @extend .link-resset;
    @extend .link--theme-orange;
    font-size: 16px;
    line-height: calc(24/16);
  }
}

.s-news {
  margin: 0 0 60px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px;

    &-left {
      margin-right: 10%;
    }
  }

  &__title {
    @extend .section-title;
  }

  &__all-link {
    @extend .link-resset;
    @extend .link--theme-orange;
    font-size: 16px;
    line-height: calc(24/16);
  }

  &__list {
    display: flex;
    margin: -30px -15px 0;
  }
  &__item {
    width: 33.33333333333%;
    padding: 30px 15px 0;
  }
}


.event-tab-item {
  $b: &;

  @extend .link-resset;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    display: block;
    margin: 0 0 15px;
    font-size: 22px;
    line-height: calc(28/22);
    font-weight: 700;
  }

  &__text {
    display: block;
    margin: 0 0 30px;
    font-size: 16px;
    line-height: calc(24/16);
    font-weight: 400;
    color: $colorGray2;
    transition: color 0.2s;

    #{$b}:hover & {
      color: $colorOrange;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

    &-left {
      display: flex;
    }
  }
  
  &__date {
    font-size: 14px;
    line-height: calc(24/16);
    font-weight: 400;
    color: $colorGray2;


    &-sep {
      display: inline-block;
      margin: 0 3px;
      color: $colorGray;
    }
  }
  &__address {
    margin-left: 30px;
    font-size: 14px;
    line-height: calc(24/16);
    font-weight: 400;
    color: $colorGray2;
    font-style: normal;
  }
  &__more {
    @extend .link-resset;
    @extend .link--theme-orange;
    font-size: 16px;
    line-height: calc(24/16);
  }
}

.s-events {
  margin: 0 0 60px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px;

    &-left {
      margin-right: 10%;
    }
  }

  &__title {
    @extend .section-title;
  }

  &__all-link {
    @extend .link-resset;
    @extend .link--theme-orange;
    font-size: 16px;
    line-height: calc(24/16);
  }

  &__main {
    display: flex;
    padding: 40px 60px 50px 60px;
    
    border: 1px solid $colorGray;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.08);
    border-radius: 4px;

    &-left {
      width: 310px;
      flex-shrink: 0;
      flex-shrink: 0;
      margin-right: 50px;
    }
    &-right {
      display: flex;
      flex-direction: column;
      padding: 5px 0;
    }

    .tabs {
      margin-bottom: 30px;
    }
    .tabs-content {
      flex-grow: 1;

      &__wrap {
        &.is-active {
          height: 100%;
        }

        &-inner {
          height: 100%;
        }
      }
    }

  }
  &__item {
  }

  
}